.overlay {
  position: absolute;
  top: 3.60%;
  left: 34.5%;
  width: 155px;
  height: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: #303030;
  border-radius: 50%;
}

.container .overlay:hover {
  opacity: 0.7;
  cursor: pointer;
}

.text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

input[type="time"]::-webkit-datetime-edit-ampm-field {
 display: none;
}

input[type=time]::-webkit-clear-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 margin: 0;
}
