.toolbtn {
  position: absolute;
  top: 3;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.modal-header {
  background: #404040!important;
  color: #EEA740!important;
  text-transform: uppercase;
  font-weight: bolder!important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-item {
  margin-left: 10px;
  min-width: 100px;
  border-bottom: 5px solid transparent;
}

.nav-item:hover {
  border-bottom: 5px solid #00bcd4;
  transition: .4s;
}

.nav-link {
  color: white!important;
}

.table {
  border: 1px solid #dee2e6;
}

.table thead th {
  background: #404040!important;
  color: #EEA740;
  vertical-align: center!important;
  padding: 10px;
}

.navbar-brand {
  color: white!important;
}

.navbar-animated {
  background: linear-gradient(45deg, #2196f3 0%, #010c14 100%);
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
  -webkit-animation: background 6s ease infinite;
  animation: background 6s ease infinite;
  border-bottom: none;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dropdown-toggle::after {
    display:none
}

.btn {
  border-radius: 50px;
  font-weight: 700;
}

.btn { font-size: 13px; }
.form-control {
  font-size: 15px!important;
}

.form-control:focus {
  border-color: #EEA740!important;
}

.card {
  /* border-top-width: 5px; */
  border-width: 2px;
  border-color: #d1d1d1!important;
  -webkit-box-shadow: 1px 6px 17px -1px rgba(0,0,0,0.33);
  -moz-box-shadow: 1px 6px 17px -1px rgba(0,0,0,0.33);
  box-shadow: 1px 6px 17px -1px rgba(0,0,0,0.33);
  border-radius: 0;
}

label {
  margin-top: 15px;
}

.table {
  padding-top: 10px;
  border: none;
}

button.rounded-circle {
  padding: 6px 10px;
}

.dashboard-card {
  border-top: none;
}

/* Sidebar and TopNav */



/* End Sidebar and TopNav */
